*{
  font-family: cursive;
  text-align: center;
}

h1{
  margin: 0 auto 20px;
}


.input-card{
  width: 95%;
  margin: 6px auto;
  /* border: 1px solid; */
  padding: 10px;
}

.flex{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.subject-container{
  width: 100%;
}

input{
  padding: 2px;
  font-size: 16px;
  margin-left: 0;
  
}

#subject{
  width: 20vw;
}

#credit{
  width:7vw;
}

.ml-40{
  margin-left: 40px;
}

.main-lable{
  text-decoration: underline;
}

.bold{
  font-weight: 800;
}

.bolder{
  font-weight:900;
}
.mark-input{
  width: 10vw;
}

.mt-20{
  margin-top: 10px;
}

.d-none{
  display: none;
}


.checkbox_container{
    margin-top: 10px;
    margin-bottom: 20px;
}

button{
  margin-top: 8px;
  padding: 12px 20px;
  background-color: black;
  border-radius: 14px;
  color: white;
  border: 0;
}

button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.subject_data{
  margin: 0 auto 15px ;
  padding: 5px;
  width: 60vw;
  border: 1px solid rgba(126, 126, 126, 0.898);
  border-radius: 12px;
  background-color: rgb(238, 238, 238);
  
}

.w-33{
  width: 33%;
}

.w-80{
  width: 80%;
}

.w-20{
  width: 20%;
}

.w-40{
  width: 40%;
}


.mt-4{
  margin-top: 4px;
}

.sub_name{
  font-size: 22px;
  text-align: center;
}

.green{
  color: green;
}

.orange{
  color: rgb(203, 136, 28);
}

.red{
  color: rgb(232, 44, 44);
}

#add_btn{
  width: 200px;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  color:royalblue;
  background-color: rgb(246, 248, 255);
  text-align:center;
}

.w-70{
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: end;

}