*{
  font-family:cursive;
  text-align: center;
}

body{
  margin: 0;
}

h1{
  margin: 0 auto 20px;
}


.input-card{
  width: 100%;
  margin: 14px auto 24px;
  /* border: 1px solid; */
  padding: 0px;
  font-size: 16px;
}

.flex{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.subject-container{
  width: 100vw;
  overflow-y: hidden;
}

input{
  padding: 2px;
  font-size: 16px;
  margin-left: 0;
}

#subject{
  width: 20vw;
}

#credit{
  width:7vw;
}

.ml-40{
  margin-left:2.5vw;
  margin-right:0.625vw;
}

.main-lable{
  text-decoration: underline;
}

.bold{
  font-weight: bold;
}

.bolder{
  font-weight:bolder;
}

.mark-input{
  width: 10vw;
}

.t-mark-input{
  width: 6vw !important;
}

.mt-20{
  margin-top: 10px;
}

.d-none{
  display: none;
}

.checkbox_container{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 1.75vw;  
    display: flex;
    justify-content: center;
    align-items: center;
}


.checkbox{
  margin-top: 6px;
}


button{
  margin:10px 0;
  padding: 12px 40px;
  background-color: black;
  border-radius: 14px;
  font-size: 16px;
  color: white;
  border: 0;
}

button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.subject_data{
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px;
  width: 50vw;
  border: 1px solid rgba(147, 147, 147, 0.898);
  border-radius: 12px;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box !important;
}

.w-33{
  width: 33%;
}

.w-80{
  width: 80%;
}

.w-20{
  width: 20%;
}

.w-40{
  width: 40%;
}


.mt-4{
  margin-top: 4px;
}

.sub_name{
  font-size: 22px;
  text-align: center;
}

.green{
  color: rgb(12, 190, 27); 
}

.orange{
  color: rgb(231, 138, 24);
}

.tomato{
  color: tomato;
  
}

.red{
  color: rgb(224, 20, 20);
  
}

.fw{
  font-weight: 550;

}

#add_btn{
  width: 200px;
  padding: 8px;
  margin-top: 0;
  border-radius: 10px;
  cursor: pointer;
  color:royalblue;
  background-color: rgb(246, 248, 255);
  text-align:center;
  text-decoration: underline;
}

.add_btn_container{
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: end;
}

@media(max-width:550px)
{
  #add_btn{
    margin:0 auto;
  }
}

@media(max-width:1300px){
  .subject_data , .add_btn_container {
    width: 60vw;
  }
 
}

@media(max-width:1200px){
  .subject_data , .add_btn_container{
    width: 65vw;
  }
  
}

@media(max-width:1100px){
  .subject_data , .add_btn_container{
    width: 70vw;
  }

  .mark-input{
    width: 12vw;
  }
}

@media(max-width:950px){
  .mark-input{
    width:14vw ;
  }

}

@media(max-width:900px){
  .subject_data , .add_btn_container{
    width: 75vw;
  }

}

@media(max-width:850px){
  .subject_data , .add_btn_container{
    width: 80vw;
  }

  .mark-input{
    width:16vw ;
  }

  #credit{
    width: 9vw;
  }
}


@media(max-width:770px){
  .subject_data , .add_btn_container{
    width: 85vw;
  }

  .mark-input{
    width:18vw ;
  }

  #credit{
    width: 10vw;
  }

}

@media(max-width:710px){
  .subject_data , .add_btn_container{
    width: 90vw;
  }

  #credit{
    width: 10vw;
  }
}

@media(max-width:656px){
  .subject_data{
    width: 98vw;
  }

  .mark-input{
    width:21vw ;
  }

  #subject{
    width: 24vw;
  }

  #credit{
    width: 12vw;
  }
}


@media(max-width:500px){
  .mark-input{
    width: 26vw;   
  }

  #credit{
    width: 16vw;
  }

  #subject{
    width: 28vw;
  }

  .flex{
    gap: 2vw;  
  } 

  h1{
    margin: 20px auto 30px;
  }

  #subject{
    width: 28vw;
  }

  .ml-40{
    margin-left: 5vw;
  }

  .checkbox_container{
    margin-right:  2.5vw;  
  }

  *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media (max-width:400px) {
  .mark-input{
    width: 22vw;   
  } 
  
    #subject{
      width: 32vw;
    }
  
    #credit{
      width: 18vw;
    }
    
  
}

@media (max-width:370px) {
  .mark-input{
    width: 18vw;   
  } 
}

@media (max-width:360px) {
  .mark-input{
    width: 15vw;   
  } 

  #subject{
    width: 32vw;
  }

  .ml-40{
    margin-left: 3vw;
    margin-right: 2vw;
  }
}

@media (max-width:335px) {
  .mark-input{
    width: 12vw;   
  } 
}

@media (max-width:322px) {
  .mark-input{
    width: 10vw;   
  } 

  .checkbox_container{
    margin-right:0;  
  }

  .checkbox{
    width: 4vw;
  }
}

@media (max-width:314px) {
  .mark-input{
    width: 8vw;   
  } 

  .ml-40{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}

@media (max-width:307px) {
  .mark-input{
    width: 8vw;   
  } 

  .flex{
    gap: 1vw;
  }
}






